<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
        <title>0xdabbad00 - {{ page.title }}</title>
        <meta name="viewport" content="width=device-width" />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" type='text/css' href="/css/syntax.css">
        <link rel="stylesheet" type='text/css' href="/css/lato.css">
        <link rel="stylesheet" type='text/css' href="/css/bootstrap.css">
        <link rel="stylesheet" type='text/css' href="/css/main.css">

    </head>
    <body>

    <div class="container">
        <!-- Navigation -->
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#toggler">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="toggler">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a class="sitename" href="http://0xdabbad00.com/">{{ site.name }}</a>
                    </li>
                    <li>
                        <a class="extra" href="/archives/">archives</a>
                    </li>
                    <li>
                      <a href="/projects/">projects</a>
                    </li>
                    <li>
                      <a href="/about/">about</a>
                    </li>
                    <li>
                      <a link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">rss</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <!-- Page Content -->
        <div class="content-section-a">
          {{ content }}
        </div>

          <div class="footer">
          </div>
        </div>

    <!-- jQuery Version 1.11.0 -->
    <script src="/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    </body>
</html>
